<h1 class="mt-3">Откуда это?</h1>
<p>
  Program (Project) Evaluation and Review Technique (сокращённо PERT) —
  метод оценки и анализа проектов, который используется в управлении проектами.
</p>
<p>
  PERT предназначен для очень масштабных, единовременных, сложных, нерутинных
  проектов. Метод подразумевает наличие неопределённости, давая возможность
  разработать рабочий график проекта без точного знания деталей и необходимого
  времени для всех его составляющих.
</p>
<p>
  PERT был разработан главным образом для упрощения планирования на бумаге и
  составления графиков больших и сложных проектов. Метод в особенности нацелен
  на анализ времени, которое требуется для выполнения каждой отдельной задачи,
  а также определение минимального необходимого времени для выполнения всего проекта.
  <br>
  <a href="https://ru.wikipedia.org/wiki/PERT">Подробнее можно ознакомится на WIKI</a>
</p>

<h2>Чем это поможет лично тебе?</h2>

<p>
  Одним из элементов PERT является способ вычисления оценок. Схема PERT предоставляет
  очень простой, но исключительно эффективный способ преобразования оценок в
  вероятностные распределения, подходящие для расчета кол-ва дней на решение задачи.
<br>
  Таким образом, предоставив 3 цифры (все в днях):
</p>
  <ul>
    <li>оптимистическую оценку срока завершения проекта</li>
    <li>реальную оценку срока завершения проекта</li>
    <li>пессиммистическую оценку срока завершения проекта</li>
  </ul>
<p>
  На выходе ты получишь две цифры:
</p>
  <ul>
    <li>ожидаемую продолжительность задачи</li>
    <li>возможное отклонение, по срокам выполнения задачи</li>
  </ul>

<blockquote>
  <p class="mb-0">
    Имея на руках цифры расчитанные методологией использовавшейся ВМС США для проектирования подводных лодок Polaris,
    можно не дрейфить и общаться с руководством более предметно ᕙ༼*◕_◕*༽ᕤ
  </p>
  <footer class="blockquote-footer">
    Вдохновлено книгой "Идеальный программист. Как стать профессионалом разработки ПО"
    Мартин Роберт С.
  </footer>
</blockquote>
