<h1>Внеси свои оценки:</h1>
<ul>
  <li>Оптимистическая оценка - задача может быть выполнена за это время только в том случае, если все без исключения пройдет гладко.</li>
  <li>Номинальная оценка - наиболее вероятная оценка.</li>
  <li>Пессимистическая оценка - эта оценка также должна быть крайне предельно пессимистической.</li>
</ul>

<%= render 'form', goal: @goal %>

<%= link_to 'Назад', goals_path %>
